body {
  padding: 10px;
  font-family: sans-serif;
}

.profile-container{
  position: relative;
  text-align: center;
}

.profileName{
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8em;
  color: #fff;
  font-family: 'Atma', sans-serif;
}

.timepos{
  position: absolute;
  top: 97%;
  left: 35%;
  transform: translate(-25%, -50%);
  font-size: 1.0em;
  color: #fff;
  font-family: 'Atma', sans-serif;
}

.login{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login2{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login{
  height: 100%;
  width: auto;
  background-image: url('images/empty_title.png');
  background-size: cover;
}

.login2{
  height: 100%;
  width: auto;
  /*background-image: url('images/settings.png');
  background-size: cover;*/
  background: url("images/settings.png") repeat scroll 0 0 transparent;
  background-size: cover;
}

.link{
  padding-left: 26px;
  padding-top: 23px;
  position: absolute;
}

.link a{
  padding-left: 0;
  display: block;
  height: 48px;
  width: 67px;
}

.container{
  position: relative;
  color: black;
}

.background-image{
  height: 736px;
  width: auto;
}

.profile-background{
  height: 736px;
  width: auto;
}
.profile-background2{
  height: 736px;
  width: 414px;
  background-image: url('images/waiting-for-player.png');
  background-size: cover;
}

.screen{
  position: relative;
}

img{
  position: absolute;
}

.form{
  position: absolute;
  top:100px;
  left: 15px;
  width: 470px;

}

.form input{
  margin-top: 20px;
  width: 80%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  border:none;
  border-bottom: 1px solid rgb(255,255,255, 0.3);
  color: #fff;
  font-size: 1.4em;

}
